/* reset style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}
body{
  background-color: rgb(22, 22, 22);
}
::selection{
  background-color: rgb(150, 38, 38);
  color: rgb(230, 230, 230);
}
::-moz-focus-outer{
  border: 1px solid red !important;
}
/*----------------global style-----------------*/
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  color: white;
  text-decoration: none;
}
.text-color{
  color: rgb(232, 9, 9);
}
.text-color1{
  color: rgb(214, 84, 52);
}
.text-color2{
  color: rgb(178, 178, 178);
}
.bg-color{
  background-color: rgb(232, 9, 9);
}
.containerr{
  width: 90%;
  margin: 0% auto;
}
.my-70{
  margin: 70px 0;
}
.text-center{
  text-align: center;
}
.vertical-top{
  vertical-align: top;
}
/*----------------custom style-----------------*/
.nav1{
  margin-top: 20px;
}
.nav1 .shape , footer .shape{
  height: 30px;
  width: 45px;
  margin-right: 5px;
  margin-bottom: 4px;
  border-radius: 5px;
}
.nav1 h5 span{
  color: red;
}
.nav1 h6{
  font-size: 13.5px;
}
.nav1 .search{
  padding: 6px 12px;
  border-radius: 5px;
  background-color: rgb(51, 51, 51);
}
.nav1 ul li{
  width: 15%;
  text-align: center;
  cursor: pointer;
}
.nav1 ul li .line-bottom{
  height: 4px;
  background: linear-gradient(to right , red , rgb(207, 107, 20));
  border-radius: 8px;
}
.nav1 ul li:hover .line-bottom{
  display: block !important;
}
.nav1 ul li span i{
  color: rgb(232, 9, 9);
  font-size: 10px;
}
.nav1 .login , .nav1 .sign-up , .section1 .st , .section1 .Ex{
  color:rgb(232, 9, 9);
  border: 1px solid rgb(232, 9, 9);
  background-color: rgb(25, 5, 5);
  border-radius: 8px;
  padding: 6px 12px;
}
.nav1 .sign-up , .section1 .st{
  color: white;
  background-color: red;
  border-color: red;
}
.content-photo{
  left: 8%;
  bottom: 8%;
}
.content-photo i{
  color: rgb(198, 22, 22);
}/*----------------section 1-----------------*/
.section1 .content-left{
  height: 100%;
}
.section1 .title{
  font-size: 40px ;
  background:linear-gradient(135deg, #8B0000 , #FF0000 , #FF7F7F  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section1 .content-left p{
  text-align: justify !important;
}
.section1 .st , .section1 .Ex{
  width: 48%;
  border-radius: 15px;
}
.section1 .image{
  overflow: hidden;
  border-radius: 50%;
  width: 75%;
}
.section1 img{
  height: 75%;
  transform: translate(0,10px);
  z-index: 2;
}
.section1 .bluroo{
  background:linear-gradient(to right,rgba(214, 95, 52), rgb(196, 32, 32) 50% );
  box-shadow: 0 0 15px 6px rgba(214, 95, 52);
  filter: blur(10px);
  border-radius: 50%;
  height: 82%;
  width: 85%;
}
.section1::before , .section1::after {
  content: "";
  position: absolute;
  top: 20%;
  width: 10%;
  box-shadow:0 0 90px 70px rgba(165, 42, 42, 0.66);
  background-color: rgba(169, 57, 57, 0.66);
  filter: blur(160px);
  height: 70%;
}
.section1::before{
  left: 0;
}
.section1::after{
  right: 0;
}/*----------------nav 2-----------------*/
.nav2 .box span{
  color: rgb(237, 43, 43);
}
.nav2 .box .spano{
  color: rgba(214, 95, 52);
}
.nav2 .box h5{
  text-transform: capitalize;
}
.nav2 .box p{
  font-size: 13px;
  text-transform: capitalize;
}
.nav2 .line{
  width: 4px;
  background: linear-gradient(rgb(237, 43, 43) 40%,rgba(214, 95, 52));
  border-radius: 8px;
}
/*----------------section2-----------------*/
.section2::before , .section3::before ,  .section4::before , .section5::before , .section5::after , .section6::after , .section7::before , .section7::after , .section8::before , .section8::after , .section9::before{
  content: "";
  position: absolute;
  background-color: rgba(235, 0, 0, 0.155);
  filter: blur(40px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 70%;
  box-shadow: 0 0 70px 10px rgba(205, 3, 3, 0.155);
}
.section2 p{
  text-transform: capitalize;
  margin-top: 30px;
  color: rgb(195, 194, 194);
}
.section2 .card{
  width: 22%;
  background-color: inherit;
  border: none;
}
.section2 .image{
  border: none;
  outline: none;
}
.section2 img{
  border: solid inherit;
}
/*----------------section 3-----------------*/
.section3 .direction{
  width: 9%;
}
.section3 .line-left{
  width: 55%;
  height: 10px;
  margin-bottom: 10px;
}
.section3 .line-right{
  background-color: rgb(69, 69, 69);
  width: 35%;
  height: 10px;
}
.section3 .box{
  width: 17%;
}
/*----------------section 4-----------------*/
.section4{
  margin-top: 70px !important;
}
.section4 ul{
  list-style: initial;
}
.section4 .box{
  width: 31%;
  border-color: rgb(239, 78, 63) !important;
}
.section4 .box p{
  text-transform: capitalize;
  color:rgb(223, 223, 223);
  text-align: justify;
}
.section4 .box ul li{
  color:rgb(223, 223, 223);
}
.section4 .buttonn{
  background-color: rgb(239, 78, 63) !important;
}
.section4 .box a{
  color: rgb(231, 231, 231) !important;
}/*----------------section 5-----------------*/
.section5::before{
  top:65%;
  left: 45%;
  width: 50%;
}
.section5::after{
  left: 86%;
  width: 20%;
  background-color: rgba(203, 71, 0, 0.155);
}
.section5 .image{
  width: 20%;
} 
.section5 .comment{
  background-color: rgb(107, 16, 16) !important;
}
.section5 h6{
  font-size: 14px;
}
.section5 .box p{
  color:rgb(231, 231, 231);
  text-align:justify;
}
.section5 .images{
  width: 17%;
}/*----------------section 6-----------------*/
.section6 .content-right{
  width: 12%;
}
.section6 .space1 , .section6 .space2 , .section7 .space1 , .section7 .space2{
  width: 15%;
  height: 10px;
  background-color: rgb(52, 52, 52) !important;
}
.section6 .space2 , .section7 .space2{
  width: 20%;
  background: rgb(232, 9, 9) !important;
}
.section6 .card{
  width: 20%;
  box-shadow: 0 0 5px rgb(161, 5, 5) ;
  overflow: hidden;
}
.section6 .content-card{
  background-color: rgb(36, 36, 36);
}
.section6 .card::after{
  content: "";
  position: absolute;
  left: 5%;
  bottom: 3%;
  width: 10%;
  aspect-ratio: 1/1;
  background-color: rgb(232, 9, 9);
  filter: blur(15px);
  border-radius: 50%;
}
.section6 .buttonn a:hover i{
  color: white !important;
  transition: .4s;
}
.section6::after{
  background-color: rgba(154, 0, 0, 0.155);
  filter: blur(200px);
}/*----------------section 7-----------------*/
.section7::before{
  width: 30%;
  height: 60%;
  left: 20%;
  top:57%;
}
.section7 .content-right{
  width: 7%;
}
.section7 .space1 , .section7 .space2{
  width: 25%;
}
.section7 .space2{
  width: 30%;
}
.section7 .write{
  font-size: 14px;
}
.section7 .bottom-right a{
  font-size: 14px;
}
.section7::after{
  width: 45%;
  height: 55%;
  left: 72%;
  top: 55%;
}/*----------------section 8-----------------*/
.section8::before{
  left: 28%;
  width: 45%;
  height: 80%;
}
.section8 .boxs{
  flex-wrap: wrap !important;
}
.section8 .box{
  width: 49%;
  background-color: rgb(0, 0, 0) ;
}
.section8 .box p{
  text-align: justify;
  font-size: 12px;
}
.section8 .content-right{
  background-color: rgb(108, 27, 27);
}
.section8 .content-right a{
  padding: 2px 0;
}
.section8 .content-right .sign-up{
  border-bottom: 3px solid rgb(231, 0, 0);
}
.section8 input{
  flex: 1;
  background-color: inherit;
  border: none;
  outline: none;
}
.section8 input::placeholder{
  color: rgb(168, 168, 168);
  font-size: 12px;
}
.section8 button{
  border: none;
  outline: none;
}
.section8 .line{
  height: 2px;
  width: 48%;
}
.section8 .button-google{
  background-color: inherit;
}
.section8 .image{
  width: 8%;
}
.section8::after{
  left: 75%;
  width: 40%;
  height: 100%;
}/*----------------section 9-----------------*/
.section9::before{
  width: 30%;
  left: 25%;
}
.accordion{
  border: 2px solid rgb(232, 9, 9) !important;
}
.accordion-item{
  border:1px solid rgb(232, 9, 9) !important;
  border-bottom:2px solid rgb(232, 9, 9) !important;
  border-top:2px solid rgb(232, 9, 9) !important;
}
.accordion-item,
.accordion-button{
  background-color: inherit !important;
}
.accordion-button{
  box-shadow: 0 0 5px rgb(249, 44, 44) !important;
}
.accordion-button:focus {
  box-shadow: 0 0 5px 3px rgb(249, 44, 44) !important;
}
.accordion-button:not(.collapsed){
  border-bottom: none !important;
}
.accordion-button::after {
  filter: invert(.5) sepia(80%) saturate(5000%);
}
.accordion-button:not(.collapsed)::after{
  filter: invert(.5) sepia(10%) saturate(5000%);
}
.el1{
  border-top:none !important;
}
.el5{
  border-bottom:none !important;
}/*----------------footer-----------------*/
footer .box{
  width: 38%;
}
footer .box p{
  text-align: justify;
}
footer i{
  font-size: 1.8rem;
  color: rgb(236, 236, 236);
}
table{
  border-collapse: separate;
  border-spacing: .5rem;
  text-align: center;
}
table td{
  font-size: .7rem !important;
  padding: .5rem;
  color: rgb(178, 178, 178);
}
footer .box-end{
  width: 20%;
  height: 100px;
}
footer .box-end table{
  text-align: left;
}
footer .box-end td i{
  font-size: 1rem;
}