*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}
body{
    background-color: #001;
    height: 100vh;
    display: flex;
}
.sapceing{
    height: 94%;
    width: 50px;
    padding: 20px;
    position: relative;
    flex-shrink: 0;
}
.image{
    width: 50px;
    height: 50px;
    background-color: rgba(240, 248, 255, 0.627);
    overflow: hidden;
    border: 3px solid white;
    border-radius: 50%;
    flex-shrink: 0;
}
.profile img{
    width: 100%;
}
.profile{
    display: flex;
    align-items: center;
    gap: 30px;
}
.profile h2{
    font-size: 20px;
    text-transform: capitalize;
}
.menu{
    background-color: #123;
    height: 94%;
    width: 50px;
    padding: 20px;
    position: fixed;
    transition: .5s;
    overflow: hidden;
    flex-shrink: 0;
}
.menu:hover{
    width: 200px;
}
.minbox a{
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;
    transition: .3s;
}
.minbox a:hover , .minbox .active , .datainfo .box:hover , td:hover{
    background-color: #ffffff55;
}
.logout{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 1rem;
}
.logout a{
    background-color: #a00;
}
.menu .minbox i{
    font-size: 30px;
}
section{
    height: 95%;
    position: relative;
}
.content{
    width: 100%;
    margin: 10px;
}
.content .titleinfo{
    background-color: rgb(40, 116, 209);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 ;
    border-radius: 8px;
}
.titleinfo p , .titleinfo i{
    margin: 10px;
}
.datainfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}
.datainfo .box{
    background-color: #123;
    flex-basis: 150px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    flex-grow: 1;
}
.datainfo .box i{
    font-size: 40px;
}
.datainfo .box .data{
    text-align: center;
}
.datainfo .box .data span{
    font-size: 30px;
}
table{
    width: 100%;
    text-align: center;
    border-spacing: 5px;
}
th , td{
    height: 40px;
    background-color: #123;
    border-radius: 8px;
    transition: .5s;
}
th{
    background-color: rgb(40, 116, 209);
}
.price , .count{
    padding: 6px;
    border-radius: 6px;
}
.price{
    background-color: green;
}
.count{
    background-color: gold;
    color: black;
}