*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: rgb(12, 12, 12);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 90%;
    height: 90%;
    background-color:rgba(255,255,255,0.1);
    border-radius: 10px;
    overflow: hidden;
}
.container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
body::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(216, 26, 26);
    position: absolute;
    clip-path: circle(40% at right 70%);
    z-index: -1 ;
}
nav .logo{
    color: white;
    text-decoration: none;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}
nav ul li{
    display: inline-block;
    margin: 0 15px;
    text-transform: capitalize;
    
}
li a{
    color: rgba(255, 255, 255, 0.788);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
}
.text{
    color: white;
    width: 40%;
}
h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
p{
    font-size: 18px;
    line-height: 25px;
    margin: 10px 0;
    letter-spacing: 1px;
}
.image{
    width: 40%;
}
.image img{
    width: 400px;
}
@media (min-width:900px) and (max-width:1050px){
    .image img{
        width: 350px;
    }
}
@media (max-width:900px){
    .content , nav{
        flex-direction: column;
        justify-content: center;
    }
    .text , .image{
        width: 80%;
    }
    .image img{
        width: 350px;
    }
    body::after{
        clip-path: circle(50% at bottom);
    }
}