*{
    padding: 0;
    margin: 0;
    color: #fff;
}
body{
    background-color: #222;
    font-family: system-ui;
}
.crud{
    width: 80%;
    margin: auto;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 4px;
    margin: 4px 0;
    background-color: #111;
}
input:focus{
    background-color: #000;
    transform: scale(1.1);
}
.price input{
    width: 20%;
}
#total{
        background-color: rgb(133, 7, 7);
        padding: 5px 2px;
        border-radius: 4px;
}
#total::before{
    content: 'Totle: ';
}
button{
    width: 100%;
    height: 30px;
    padding: 4px;
    background-color: rgb(11, 8, 119);
    border: none;
    border-radius: 20px;
    transition: .5s;
}
button:hover{
    background-color: rgb(81, 8, 159);
    letter-spacing: 2px;
}
.btnsearch{
    display: flex;
    justify-content: space-between;
}
.btnsearch button{
    width: 45%;
}
#deleteall{
    margin: 10px 0;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
th{
    text-transform: uppercase;
}
th , td{
    padding: 5px;
}