*{
    margin: 0;
    padding: 0;
    font-family: system-ui;
    color: aliceblue;
}
body{
    background: rgb(54, 1, 57);
}
.head{
    position: absolute;
    width: 95%;
    z-index: 1;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}
ul{
    list-style: none;
    display: flex;
  
}
a{
    text-decoration: none;
    color: white;
}
ul li a{
    margin: 20px;
    padding: 6px 15px;
}
ul li a:hover, .active{
    background-color: white;
    border-radius: 20px;
    color: rgb(54, 1, 57);
}
.main{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.main::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to top,rgb(54, 1, 57),rgb(29, 4, 32));
}
.main img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#moon2{
    mix-blend-mode: screen;
    width: 70%;
    margin-bottom: 3rem ;
}
.nouvil{
    color: white;
    text-transform: uppercase;
    transform: translateY(-200px);
    font-size: 25px;
    margin-bottom: 2.2rem;
}
.content{
    color: white;
    padding: 30px;
}
.content h2{
    margin: 20px;
    font-size: 30px;
}
.content p{
    margin: 20px;
}