/* ---------- PUBLIC STYLE -------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}

/* ---------- CUSTOM STYLE -------- */

.parent{
    background: linear-gradient( to right ,rgb(143, 109, 0) 0% , rgb(92, 70, 0));
    padding: 1.5rem;
}

ul{
    padding: .5rem;
    border: 5px solid rgb(165, 165, 18);
    border-radius: 8px;
}
.parent li{
    padding: .5rem;
    cursor: pointer;
}
.parent li:not(:last-child){
    margin-bottom: .5rem;
    border-bottom: 2px solid rgb(130, 127, 69);
}

.parent li:hover{
    background-color: rgb(90, 69, 0);
    border-radius: 10px;
}

.parent li h4{
    color: #fff;
    margin: 0;
}
.parent li h6{
    color: #bdbdbd;
}

.active{
    background-color: rgb(90, 69, 0);
    border-radius: 10px;
}
.content-left{
    padding-left: 0 !important;
}
.content-right{
    padding: 1rem;
    background-color: rgb(207, 207, 207);
    border-radius: 4px;
}
.post{
    background-color: #b8b8b8;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 0 0 5px 1px rgb(67, 67, 67);
}
