*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #002;
    height: 100vh;
    font-family: system-ui;
    overflow: hidden;
}
section{
    background-image: url("stars1.png");
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    text-align: center;
}
ul:hover li a{
    opacity: 0;
}
ul li{
    list-style: none;
    margin: 20px 0;
}
ul li a{
    color: white;
    text-decoration: none;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 5px;
    background-color: rgb(75, 75, 208);
    padding: 6px 12px;
    border-radius: 20px;
    display: inline-block;
    transition: .5s;
    width: 220px;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
}
ul li a:hover{
    transform: scale(1.5);
    background-color: rgb(195, 0, 255);
    opacity: 1;
}
ul li::after{
    content: attr(data-text);
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    font-weight: 900;
    text-transform: uppercase;
    opacity:0;
    pointer-events: none;
    letter-spacing:200px;
    transition: .5s;
}
ul li:hover::after{
    opacity: .5;
    letter-spacing: 5px;
}
ul li::before{
    content: "";
    width: 180px;
    height: 80px;
    background-color: rgb(195, 194, 194);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 200%);
    border-radius: 50%;
    box-shadow: 0 0 40px 10px rgb(219, 142, 0);
    opacity: 0;
    transition: .5s;
}
ul li:hover::before{
    opacity: 1;
    width: 80px;
}