*{
    padding: 0;
    margin: 0;
}
a{
    color: white;
    text-decoration:none;
}
body{
    background-image: linear-gradient(to right,#01022d,#000);
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-image: linear-gradient(to right ,#01022de5 30%, #00000043),
    url("download.webp");
    background-size: cover;
    background-position: center;
    width: 90%;
    min-height: 90%;
    transition: all .3s ease;
}
.container:hover{
    background-image: linear-gradient(to right ,#01022de5 30%, transparent),
    url("download.webp");;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    font-size: 30px;
    text-transform: uppercase;
}
ul{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    list-style: none;
}
ul a{
    border-bottom: 2px solid transparent;
    transition: all .3s ease;
}
ul a:hover{
    border-bottom-color: white;
}
.content{
    margin-top: 50px;
    padding: 30px;
    color: white;
    width: 55%;
}
h1{
    font-size: 100px;
    text-transform: uppercase;
}
.content p{
    letter-spacing: 3px;
    width: 400px;
    padding: 20px 0;
}
.content button{
    font-size: 30px;
    border-radius: 10px;
    border: 2px solid transparent;
    padding: 5px 10px;
    transition: all .5s ease;
}
.content button:hover{
    background-color: transparent;
    border-color: white;
    cursor:pointer;
    color: white;
}